body {
  background: rgb(84, 46, 99);
  background: radial-gradient(circle, rgba(84, 46, 99, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

nav {
  border: #02ffe6 2px solid;
  border-radius: 8px;
  padding: 9px;
  box-sizing: border-box;
  margin: 20px;
  background: rgb(41, 37, 42);
  background: radial-gradient(circle, rgba(41, 37, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);

}